<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5675BAD51F6E99F5001AE879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5675BAE91F6E99F5001AE879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5675BAF41F6E99F5001AE879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
